BeautifulSoup==3.2.1
Scrapy==0.14.3
Twisted==12.0.0
argparse==1.2.1
distribute==0.6.15
dropbox==1.4
ipdb==0.6.1
ipython==0.12.1
lxml==2.3.4
mechanize==0.2.5
oauth==1.0.1
poster==0.8.1
pyOpenSSL==0.13
pytz==2012c
simpledropbox==0.2.2
simplejson==2.5.2
w3lib==1.1
wsgiref==0.1.2
zope.interface==3.8.0
